<% provide(:title, 'FAQ') %>

<h1>NameFountain.com Frequently Asked Questions</h1>
<p>This is the placeholder for the FAQ.</p>
<p>Who are you?</p>
<p>Why did you develop this app?</p>
<p>Why should I make an offer for a domain before it expires, rather than just wait until it expires and hand register it?</p>
<p>How do you make money on this app?</p>
<p>Really?  No strings attached?</p>

