<footer class="footer">
  <small>
    <%= link_to "NameFountain", root_path %> 
    by <a href="http://www.dutchboyd.com/">Dutch Boyd</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy Policy", privacy_path %></li>   
    </ul>
  </nav>
</footer>
